.sls1__features {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.sls1__features-heading {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}

.sls1__features-heading h1 {
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 42px;
  line-height: 48px;
  letter-spacing: -0.04em;
  color: #dd691e;
  max-width: 700px;
}

.sls1__features-heading p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #dd691e;
  margin-top: 2rem;
}

.sls1__features-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 990px) {
  .sls1__features {
    flex-direction: column;
  }

  .sls1__features-heading {
    margin: 0 0 2rem 0;
  }
}

@media screen and (max-width: 550px) {
  .sls1__features-heading h1 {
    font-size: 28px;
    line-height: 38px;
  }
}
