.sls1__navbar {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
}

.sls1__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sls1__navbar-links_logo {
  margin-right: 6rem;
}

.sls1__navbar-links_logo img {
  width: 150px;
}

.sls1__navbar-links_container {
  display: flex;
  flex-direction: row;
}

.sls1__navbar-sign {
  display: flex;
  justify-content: flex-ends;
  align-items: center;
}

.sls1__navbar-links_container p,
.sls1__navbar-sign p,
.sls1__navbar-menu_container p {
  color: #065285;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-transform: capitalize;
  margin: 0 1rem;
  cursor: pointer;
}

.sls1__navbar-sign button,
.sls1__navbar-menu_container button {
  padding: 0.5rem 1rem;
  background: #dd691e;
  border-radius: 5px;
  border: none;
  outline: none;
  color: snow;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  cursor: pointer;
}

.sls1__navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}

.sls1__navbar-menu svg {
  cursor: pointer;
}

.sls1__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background-color: #efefef;
  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  min-width: 200px;
  border-radius: 5px;
  border: 2px solid #065285;
}

.sls1__navbar-menu_container p {
  margin: 1rem 0;
}

.sls1__navbar-menu_container-links-sign {
  display: none;
}

@media screen and (max-width: 1050px) {
  .sls1__navbar-links_container {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .sls1__navbar {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 750px) {
  .sls1__navbar {
    padding: 2rem;
  }
  .sls1__navbar-sign {
    display: none;
  }
  .sls1__navbar-menu_container {
    top: 20px;
  }
  .sls1__navbar-menu_container-links-sign {
    display: block;
  }
  .sls1__navbar-menu {
    display: flex;
  }
}
