.sls1__header {
  display: flex;

  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 0% 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 27%,
    rgba(174, 174, 174, 1) 62%,
    rgba(174, 174, 174, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 0% 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 27%,
    rgba(174, 174, 174, 1) 62%,
    rgba(174, 174, 174, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 0% 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 27%,
    rgba(174, 174, 174, 1) 62%,
    rgba(174, 174, 174, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 0% 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 27%,
    rgba(174, 174, 174, 1) 62%,
    rgba(174, 174, 174, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 0% 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 27%,
    rgba(174, 174, 174, 1) 62%,
    rgba(174, 174, 174, 1) 100%
  );
}

.sls1__header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 5rem;
}

.sls1__header-content h1 {
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
}

.sls1__header-content h2 {
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 38px;
  line-height: 55px;
  letter-spacing: -0.05em;
}

.sls1__header-content p {
  font-weight: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.05em;
  color: #065285;
  margin-top: 1.2rem;
}

.sls1__header-content__input {
  width: 100%;
  margin: 2rem 0 1rem;
  display: flex;
}

.sls1__header-content__input input {
  flex: 2;
  width: 100%;
  min-height: 50px;
  font-weight: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  line-height: 27px;
  border: solid #065285;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #065285;
  padding: 0 1rem;
  outline: none;
}

.sls1__header-content__input button {
  flex: 0.6;
  width: 100%;
  min-height: 50px;
  background-color: #dd691e;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 27px;
  color: snow;
  cursor: pointer;
  outline: none;
  padding: 0 1rem;
  border: none;
}

.sls1__header-content__people {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
}

.sls1__header-content__people img {
  width: 181px;
  height: 38px;
}

.sls1__header-content__people p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 38px;
  color: #dd691e;
  margin: 0 0 0 1rem;
}

.sls1__header-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sls1__header-image img {
  width: 50%;
  border-radius: 50%;
  box-shadow: 1px 1px 8px 19px rgba(210, 210, 210, 0.33);
  -webkit-box-shadow: 1px 1px 8px 19px rgba(210, 210, 210, 0.33);
  -moz-box-shadow: 1px 1px 8px 19px rgba(210, 210, 210, 0.33);
}

@media screen and (max-width: 1050px) {
  .sls1__header {
    flex-direction: column;
  }

  .sls1__header-content {
    margin: 0 0 3rem;
  }
}

@media screen and (max-width: 650px) {
  .sls1__header h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .sls1__header h2 {
    font-size: 18px;
    line-height: 32px;
  }

  .sls1__header p {
    font-size: 15px;
    line-height: 20px;
  }

  .sls1__header-content__people {
    flex-direction: column;
  }

  .sls1__header-content__people p {
    margin: 0;
  }

  .sls1__header-content__input input,
  .sls1__header-content__input button {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 490px) {
  .sls1__header h1 {
    font-size: 35px;
    line-height: 48px;
  }

  .sls1__header h2 {
    font-size: 15px;
    line-height: 26px;
  }

  .sls1__header p {
    font-size: 9px;
    line-height: 12px;
  }

  .sls1__header-content__input input,
  .sls1__header-content__input button {
    font-size: 12px;
    line-height: 13px;
  }
}
